[submodule "drone_ws/src/drone_ws/src/px4_msgs"]
	path = drone_ws/src/drone_ws/src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "px4_msgs"]
	path = px4_msgs
	url = https://github.com/PX4/px4_msgs
	branch = release/1.15
[submodule "PX4-Autopilot"]
	path = PX4-Autopilot
	url = https://github.com/yf-zhou/PX4-Autopilot.git
