[submodule "drone_ws/src/drone_ws/src/px4_msgs"]
	path = drone_ws/src/drone_ws/src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "drone_ws/src/px4_msgs"]
	path = drone_ws/src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
